.background-pipe {
    position: absolute;
    width: 100%;
    height: 500px; 
    top: auto;
    bottom: 100px;
    left: 0;
    z-index: -2;
    pointer-events: none;
    opacity: 0.9;
}

.pipe {
    stroke-width: 86px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 3s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.projects {
    position: relative;
}

body {
    background-color: #070708;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #555;
    margin-top: 1px;
    transform: translateY(25px);
}

h1, h2, h3 {
    color: #f5f5f5;
    margin-bottom: 0.5em;
}

a {
    color: #a0a0a0;
    text-decoration: none;
    transition: color 0.3 ease;
}

a:hover {
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; 
}

header h1 {
    margin: 0; 
    font-size: 2.5em; 
    font-family: 'Roboto Mono', monospace; 
    font-weight: 600;
    position: relative;
    transform: translate(6%, 50%); 
    font-size: 3em; 
}

.contact-links a {
    font-size: 1.5em;
    margin-left: 20px;
    color: #a0a0a0;
}

.contact-links a:hover {
    color: #ffffff;
}

.main-nav {
    text-align: center; 
    margin: 60px auto;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 18px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.03);
}

.main-nav li {
    display: inline-block;
    margin: 0 15px;
}

.main-nav a {
    font-size: 1.1em;
    padding: 8px 12px;
    display: block;
    border-radius: 4px;
}

.main-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.tooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: #ccc;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.75em;
    white-space: nowrap;
    z-index: 10;
    display: none;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.25);
}

.chat-box-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 800px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #0e0e0e;
    overflow: hidden;
    transition: height 0.3s ease;
}

.chat-box-container:not(.expanded) {
    box-shadow: 0 0 10px 1px cyan;
    animation: move-shadow 5s linear infinite alternate;
}

@keyframes move-shadow {
    0% {
        box-shadow: 1px 1px 10px cyan;
    }
    25% {
        box-shadow: -1px 1px 10px cyan;
    }
    50% {
        box-shadow: -1px -1px 10px cyan;
    }
    75% {
        box-shadow: 1px -1px 10px cyan;
    }
    100% {
        box-shadow: 1px 1px 10px cyan;
    }
}

.chat-box-container.expanded {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.95);
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: hidden;
    display: none;
    flex-direction: column;
}

.chat-messages.expanded {
    overflow-y: scroll;
    display: flex;
}

.chat-messages::-webkit-scrollbar {
    width: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.user-message {
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    color: #eee;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.bot-message {
    align-self: flex-start;
    color: #999;
    margin-bottom: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-input-area {
    display: flex;
    align-items: center;
    padding: 7px;
    padding-top: 11px;
}

#chat-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: #e0e0e0;
    font-size: 1em;
    padding: 5px 10px;
    outline: none;
}

#chat-input::placeholder {
    color: #777;
}

.gpt-style-send-button {
    background-color: white;
    border: none;
    color: #070708;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    transition: opacity 0.3s ease;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt-style-send-button:hover {
    color: #333;
}

.chat-box-container.expanded .chat-input-area {
    background-color: rgba(0, 0, 0, 0.99);
    border-top: 1px solid rgba(51, 51, 51, 0.5);
}

#about-me-text {
    border-radius: 20px;
    text-align: left;
    margin: -25px auto 40px auto;
    width: 700px;
    padding: 5px;
    background-color: transparent;
    color: #e0e0e0;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

.projects {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 1em;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #0e0e0e;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 20px;
    height: 180px;
    text-decoration: none;
    color: #e0e0e0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 1px cyan;
    animation: move-shadow 5s linear infinite alternate;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left;
    color: #f5f5f5;;
}

.project-card p {
    margin: 0;
    text-align: left;
    overflow-y: auto;
    max-height: 100px;
    line-height: 1.4;
}

@keyframes move-shadow {
    0% {
        box-shadow: 1px 1px 10px cyan;
    }
    25% {
        box-shadow: -1px 1px 10px cyan;
    }
    50% {
        box-shadow: -1px -1px 10px cyan;
    }
    75% {
        box-shadow: 1px -1px 10px cyan;
    }
    100% {
        box-shadow: 1px 1px 10px cyan;
    }
}
